@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.container {
    background: rgba(255, 255, 255, 0.37);
    height: 100%;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.mainTitle {
    color: #FFF;
    font-family: "Roboto Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.secondaryTitle {
    color: #FFF;
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.formWrapper {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

input {
    width: 100%;
    height: 38px;
    align-self: center;
    border-radius: 7px;
    border: 0.5px solid #D7D7D7;
    background: #F9F9F9;
    margin-bottom: 25px;
    margin-top: 5px;
    resize: none;
    padding-left: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bt {
    width: 182px;
    height: 40px;
    border: none;
    background-color: #6BA6FF;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
}