.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  padding: 18px 20px;
  background-color: #F2E7FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 18px;
  width: auto;
}

.logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  gap: 39px;
}

.navbar-menu li {
  float: left;
  color: #595959;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.navbar-menu li:hover {
  cursor: pointer;
  color: black;
}

.logout {
  padding: 0px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(102, 102, 102, 0.80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #DADADA;
}

.left-footer p {
  margin: 0;
  padding: 18px 20px;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 18px 20px;
  overflow: hidden;
  display: flex;
  gap: 33px;
}

.footer-menu li {
  float: left;
}

.footer-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-dashboard {
  height: 100vh;
}

.dash-container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  gap: 20px;
}

h1 {
  align-self: flex-start;
  color: #7066E4;
  margin-left: 24px;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.dash-title {
  font-size: 24px;
  color: black;
  margin: 0;
  width: 100%;
  margin-bottom: 40px;
}

.dash-col {
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}



.primary-button {
  border-radius: 7px;
  height: 57px;
  width: 213px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.openings-button {
  color: #280C79;
  border: 1px solid #9C83FF;
  background: rgba(156, 131, 255, 0.19);
}

.stata-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.li-stata {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.opaque {
  color: #DADADA;
}

.applications-button {
  background: #A792FF;
  color: white;
}


.dash-col-right {
  flex-direction: column;
  gap: 27px;
  justify-content: flex-start;
  padding-top: 84px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}