.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #F1E7FF 0%, #FFF0F5 100%);
}

.span {
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.form {
    background: #FFFFFF5E;
    height: 100vh;
    width: 340px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 18%;
}

.form h1 {
    color: #7066E4;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.form label {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #595959;
}

.submitGroup {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.submitGroup p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #595959;
    text-decoration: underline;
    cursor: pointer;
}

.submit {
    width: 182px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #6BA6FF;
    color: white;
    cursor: pointer;
}

.input {
    height: 38px;
    background-color: #FBFBFB;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    padding: 0 10px;
    margin-top: 5px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.input:focus {
    background-color: #FBFBFB;
    outline: none;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.complete {
    border: 1px solid #7FD4BB;
}

.failed {
    border: 1px solid #D79494;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.submit:hover {
    background-color: #5297FF;
}

.submit:disabled {
    background-color: #AFCFFF;
}

.submit:active {
    background-color: #3E8BFF;
    box-shadow: 0px 4px 4px 0px #00000040;
}